.delete{
  cursor: pointer;
  margin:5;
}
.add{
  cursor: pointer;
  margin:5;
}

.listItemContent{
  font-size:20;
}

.listItemContainer{
  margin:2
}

input{
  height: 40;
  margin: 5;
  font-size: 20;
}

ul{
list-style-type: none;
padding:0
}

.ok-status{
  background-color: "#2ecc71";
  }
.notok-status{
  background-color: "#e74c3c";
}
